{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner-slider %}
 <div id="carouselExample" class="carousel slide">
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="{% static "app/images/banner/imgl.jpg" %}" class="d-block w-100 h-70" alt="banner-images">
     </div>
     <div class="carousel-item">
       <img src="{% static "app/images/banner/imgj.jpg" %}" class="d-block w-100 h-70" alt="banner-images">
     </div>
     <div class="carousel-item">
       <img src="{% static "app/images/banner/imga.avif" %}" class="d-block w-100 h-70" alt="banner-images">
     </div>
     <div class="carousel-item">
      <img src="{% static "app/images/banner/imgi.jpg" %}" class="d-block w-100 h-70" alt="banner-images">
    </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>

{% endblock banner-slider %}

{% block information %}
<div class="container">
   <div class="row text-center p-5 text-white border-bottom shadow" style="background-color:pink;">
         <h1>Ecstatic Cakes</h1>
         <small class="fs-5">We serve our clients best made-to-order cakes. Our tasty and rich experience are utterly delightful and unexpected because of a fresh new twist we alaways bring to each cake. We will surprise even you, just try us.</small>
       </div>
   </div>
{% endblock information %}

{% block main-content %}
  <div class="container">
    <h2 class="text-center">Cakes</h2>
    <br><br>
    <div class="row container">
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk regc">
          <a href="{% url 'category' 'RC' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static "app/images/product/imge.jpg" %}" class="img-responsive" alt="">
              <p class="mlkpro">Regular Cake</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk cheesc">
          <a href="{% url 'category' 'CC' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static "app/images/product/imgg.jpg" %}" class="img-responsive" alt="">
              <p class="mlkpro">Cheese Cake</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk jarc">
          <a href="{% url 'category' 'JC' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static "app/images/product/imgf.jpg" %}" class="img-responsive" alt="">
              <p class="mlkpro">Jar Cake</p>
            </div>
          </a>
        </div>
      </div>
      <br><br><br><br>

      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk smbg">
          <a href="{% url 'category' 'CP' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static "app/images/product/imgh.jpg" %}" class="img-responsive" alt="">
              <p class="mlkpro">Cup Cake</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk jarc">
          <a href="{% url 'category' 'WC' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static "app/images/product/imgb.jpg" %}" class="img-responsive" alt="">
              <p class="mlkpro">Wedding Cake</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk jarc">
          <a href="{% url 'category' 'BC' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static "app/images/product/imgc.jpg" %}" class="img-responsive" alt="">
              <p class="mlkpro">Birthday Cake</p>
            </div>
          </a>
        </div>
      </div>
  </div>
  <br></br>
{% endblock main-content %}